<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- Entity Framework Configuration Section: http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <!-- Framework Modules -->
    <section name="framework.Apps" type="Framework.Apps.Model.Config.LibConfiguration, Framework.Apps" requirePermission="false" />
    <section name="framework.Auth" type="Framework.Auth.Model.Config.LibConfiguration, Framework.Auth" requirePermission="false" />
    <section name="framework.Blocks" type="Framework.Blocks.Model.Config.LibConfiguration, Framework.Blocks" requirePermission="false" />
    <section name="framework.Charting" type="Framework.Charting.Model.Config.LibConfiguration, Framework.Charting" requirePermission="false" />
    <section name="framework.Code" type="Framework.Code.Model.Config.LibConfiguration, Framework.Code" requirePermission="false" />
    <section name="framework.Comm" type="Framework.Comm.Model.Config.LibConfiguration, Framework.Comm" requirePermission="false" />
    <section name="framework.Compression" type="Framework.Compression.Model.Config.LibConfiguration, Framework.Compression" requirePermission="false" />
    <section name="framework.Content" type="Framework.Content.Model.Config.LibConfiguration, Framework.Content" requirePermission="false" />
    <section name="framework.Cryptography" type="Framework.Cryptography.Model.Config.LibConfiguration, Framework.Cryptography" requirePermission="false" />
    <section name="framework.Data" type="Framework.Data.Model.Config.LibConfiguration, Framework.Data" requirePermission="false" />
    <section name="framework.Factory" type="Framework.Factory.Model.Config.LibConfiguration, Framework.Factory" requirePermission="false" />
    <section name="framework.Forms" type="Framework.Forms.Model.Config.LibConfiguration, Framework.Forms" requirePermission="false" />
    <section name="framework.Fragments" type="Framework.Fragments.Model.Config.LibConfiguration, Framework.Fragments" requirePermission="false" />
    <section name="framework.Localization" type="Framework.Localization.Model.Config.LibConfiguration, Framework.Localization" requirePermission="false" />
    <section name="framework.Logging" type="Framework.Logging.Model.Config.LibConfiguration, Framework.Logging" requirePermission="false" />
    <section name="framework.Maps" type="Framework.Maps.Model.Config.LibConfiguration, Framework.Maps" requirePermission="false" />
    <section name="framework.Models" type="Framework.Models.Model.Config.LibConfiguration, Framework.Models" requirePermission="false" />
    <section name="framework.Packages" type="Framework.Packages.Model.Config.LibConfiguration, Framework.Packages" requirePermission="false" />
    <section name="framework.Reporting" type="Framework.Reporting.Model.Config.LibConfiguration, Framework.Reporting" requirePermission="false" />
    <section name="framework.Search" type="Framework.Search.Model.Config.LibConfiguration, Framework.Search" requirePermission="false" />
    <section name="framework.Server" type="Framework.Server.Model.Config.LibConfiguration, Framework.Server" requirePermission="false" />
    <section name="framework.Storage" type="Framework.Storage.Model.Config.LibConfiguration, Framework.Storage" requirePermission="false" />
    <section name="framework.Templates" type="Framework.Templates.Model.Config.LibConfiguration, Framework.Templates" requirePermission="false" />
    <section name="framework.Text" type="Framework.Text.Model.Config.LibConfiguration, Framework.Text" requirePermission="false" />
    <section name="framework.Ticker" type="Framework.Ticker.Model.Config.LibConfiguration, Framework.Ticker" requirePermission="false" />
    <section name="framework.Time" type="Framework.Time.Model.Config.LibConfiguration, Framework.Time" requirePermission="false" />
    <section name="framework.Types" type="Framework.Types.Model.Config.LibConfiguration, Framework.Types" requirePermission="false" />
    <section name="framework.Users" type="Framework.Users.Model.Config.LibConfiguration, Framework.Users" requirePermission="false" />
    <section name="framework.Utils" type="Framework.Utils.Model.Config.LibConfiguration, Framework.Utils" requirePermission="false" />
    <section name="framework.Watcher" type="Framework.Watcher.Model.Config.LibConfiguration, Framework.Watcher" requirePermission="false" />
    <section name="framework.Web" type="Framework.Web.Model.Config.LibConfiguration, Framework.Web" requirePermission="false" />
    <section name="framework.WebAPI" type="Framework.WebAPI.Model.Config.LibConfiguration, Framework.WebAPI" requirePermission="false" />
  </configSections>

  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" requestValidationMode="4.5" />
    <pages>
      <controls>
        <add tagPrefix="fw" assembly="Framework.Web" namespace="Framework.Web.UI" />
      </controls>
    </pages>
  </system.web>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="UrlRoutingModule" />
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
    <asp scriptErrorSentToBrowser="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>

  <!-- Entity Framework Configuration -->

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <!-- Framework Modules -->

  <framework.Apps></framework.Apps>

  <framework.Auth></framework.Auth>

  <framework.Blocks>
    <services>
      <add unique="true" name="Blocks.Mem" contract="Framework.Blocks.API.IMemStore" type="Framework.Blocks: Framework.Blocks.API.SrvMemStore" />
      <add unique="true" name="Blocks.Store" contract="Framework.Blocks.API.IStore" type="Framework.Blocks: Framework.Blocks.API.SrvStore" />
      <add unique="true" name="Blocks.Eval" contract="Framework.Blocks.API.IEval" type="Framework.Blocks: Framework.Blocks.API.SrvEval" />
    </services>
  </framework.Blocks>

  <framework.Charting></framework.Charting>

  <framework.Code></framework.Code>

  <framework.Comm></framework.Comm>

  <framework.Compression></framework.Compression>

  <framework.Content></framework.Content>

  <framework.Cryptography></framework.Cryptography>

  <framework.Data>
    <services>
      <add unique="true" name="Data.DAL" contract="Framework.Data.API.IDAL" type="Framework.Data: Framework.Data.API.SrvDAL" />
      <add unique="true" name="Data.Mem" contract="Framework.Data.API.IMem" type="Framework.Data: Framework.Data.API.SrvMem" />
      <add unique="true" name="Data.Store" contract="Framework.Data.API.IStore" type="Framework.Data: Framework.Data.API.SrvStore" />
      <add unique="true" name="Data.Transform" contract="Framework.Data.API.ITransform" type="Framework.Data: Framework.Data.API.SrvTransform" />
      <add unique="true" name="Data.Config" contract="Framework.Data.API.ICfg" type="Framework.Data: Framework.Data.API.SrvCfg" />
      <add unique="true" name="Data.DynamicStoreDataScope" contract="Framework.Data.API.IDynamicStoreDataScope" type="Framework.Data: Framework.Data.API.SrvDynamicStoreDataScope" />
      <add unique="true" name="Data.LinqQueryProcessor" contract="Framework.Data.API.IQueryProcessor" type="Framework.Data: Framework.Data.API.SrvLinqQueryProcessor" />
    </services>
  </framework.Data>

  <framework.Forms>
    <services>
      <add unique="true" name="Forms.Mem" contract="Framework.Forms.API.IMem" type="Framework.Forms: Framework.Forms.API.SrvMem" />
      <add unique="true" name="Forms.Store" contract="Framework.Forms.API.IStore" type="Framework.Forms: Framework.Forms.API.SrvStore" />
      <add unique="true" name="Forms.Config" contract="Framework.Forms.API.ICfg" type="Framework.Forms: Framework.Forms.API.SrvCfg" />
    </services>
  </framework.Forms>

  <framework.Fragments></framework.Fragments>

  <framework.Localization></framework.Localization>

  <framework.Logging></framework.Logging>

  <framework.Maps></framework.Maps>

  <framework.Models></framework.Models>

  <framework.Packages>
    <services>
      <add unique="true" name="Packages.Config" contract="Framework.Packages.API.ICfg" type="Framework.Packages: Framework.Packages.API.SrvCfg" />
      <add unique="true" name="Packages.EntryPoint" contract="Framework.Packages.API.IPackages" type="Framework.Packages: Framework.Packages.API.SrvPackages" />
    </services>
  </framework.Packages>

  <framework.Reporting></framework.Reporting>

  <framework.Search></framework.Search>

  <framework.Server></framework.Server>

  <framework.Storage></framework.Storage>

  <framework.Templates></framework.Templates>

  <framework.Text></framework.Text>

  <framework.Ticker></framework.Ticker>

  <framework.Time></framework.Time>

  <framework.Types></framework.Types>

  <framework.Users></framework.Users>

  <framework.Utils></framework.Utils>

  <framework.Watcher></framework.Watcher>

  <framework.Web>
    <routing>
      <pages></pages>
      <http>
        <add template="{controller}/{action}/{id}" />
        <add template="{controller}/{id}" />
      </http>
    </routing>
    <services>
      <add unique="true" name="Web.Routing" contract="Framework.Web.API.IRouting" type="Framework.Web: Framework.Web.API.SrvRouting" />
      <add unique="true" name="Web.Resolver" contract="Framework.Web.API.IResolver" type="Framework.Web: Framework.Web.API.SrvResolver" />
    </services>
  </framework.Web>

  <framework.WebAPI></framework.WebAPI>

  <framework.Factory>
    <hub unique="true" name="Factory.Hub" contract="Framework.Factory.API.IHub" type="Framework.Factory: Framework.Factory.API.SrvHub" />
    <services>
      <add unique="true" name="Factory.Scope" contract="Framework.Factory.API.IScope" type="Framework.Factory: Framework.Factory.API.SrvScope" />
      <add unique="true" name="Factory.Reflected" contract="Framework.Factory.API.IReflected" type="Framework.Factory: Framework.Factory.API.SrvReflected" />
      <add unique="true" name="Factory.ServiceEntry" contract="Framework.Factory.API.IServiceEntry" type="Framework.Data: Framework.Data.API.SrvServiceEntry" />
      <add unique="true" name="Factory.Host" contract="Framework.Factory.API.IHost" type="Framework.Factory: Framework.Factory.API.SrvHost" />
      <add unique="true" name="Factory.Modules" contract="Framework.Factory.API.IModuleEntry" type="Framework.Factory: Framework.Factory.API.SrvModuleEntry" />
    </services>
    <modules>
      <add name="Framework.Apps" type="Framework.Apps: Framework.Apps.API.SrvModule"  />
      <add name="Framework.Auth" type="Framework.Auth: Framework.Auth.API.SrvModule"  />
      <add name="Framework.Blocks" type="Framework.Blocks: Framework.Blocks.API.SrvModule"  />
      <add name="Framework.Charting" type="Framework.Charting: Framework.Charting.API.SrvModule"  />
      <add name="Framework.Code" type="Framework.Code: Framework.Code.API.SrvModule"  />
      <add name="Framework.Comm" type="Framework.Comm: Framework.Comm.API.SrvModule"  />
      <add name="Framework.Compression" type="Framework.Compression: Framework.Compression.API.SrvModule"  />
      <add name="Framework.Content" type="Framework.Content: Framework.Content.API.SrvModule"  />
      <add name="Framework.Cryptography" type="Framework.Cryptography: Framework.Cryptography.API.SrvModule"  />
      <add name="Framework.Data" type="Framework.Data: Framework.Data.API.SrvModule"  />
      <!--<add name="Framework.Factory" type="Framework.Factory.API.SrvModule, Framework.Factory"  />-->
      <add name="Framework.Forms" type="Framework.Forms: Framework.Forms.API.SrvModule"  />
      <add name="Framework.Fragments" type="Framework.Fragments: Framework.Fragments.API.SrvModule"  />
      <add name="Framework.Localization" type="Framework.Localization: Framework.Localization.API.SrvModule"  />
      <add name="Framework.Logging" type="Framework.Logging: Framework.Logging.API.SrvModule"  />
      <add name="Framework.Maps" type="Framework.Maps: Framework.Maps.API.SrvModule"  />
      <add name="Framework.Models" type="Framework.Models: Framework.Models.API.SrvModule"  />
      <add name="Framework.Packages" type="Framework.Packages: Framework.Packages.API.SrvModule"  />
      <add name="Framework.Reporting" type=" Framework.Reporting: Framework.Reporting.API.SrvModule"  />
      <add name="Framework.Search" type="Framework.Search: Framework.Search.API.SrvModule"  />
      <add name="Framework.Server" type="Framework.Server: Framework.Server.API.SrvModule"  />
      <add name="Framework.Storage" type="Framework.Storage: Framework.Storage.API.SrvModule"  />
      <add name="Framework.Templates" type="Framework.Templates: Framework.Templates.API.SrvModule"  />
      <add name="Framework.Text" type="Framework.Text: Framework.Text.API.SrvModule"  />
      <add name="Framework.Ticker" type="Framework.Ticker: Framework.Ticker.API.SrvModule"  />
      <add name="Framework.Time" type="Framework.Time: Framework.Time.API.SrvModule"  />
      <add name="Framework.Types" type="Framework.Types: Framework.Types.API.SrvModule"  />
      <add name="Framework.Users" type="Framework.Users: Framework.Users.API.SrvModule"  />
      <add name="Framework.Utils" type="Framework.Utils: Framework.Utils.API.SrvModule"  />
      <add name="Framework.Watcher" type="Framework.Watcher: Framework.Watcher.API.SrvModule"  />
      <add name="Framework.Web" type="Framework.Web: Framework.Web.API.SrvModule"  />
      <add name="Framework.WebAPI" type="Framework.WebAPI: Framework.WebAPI.API.SrvModule"  />
    </modules>
    <startup>
      <add service="Data.Store" method="Schema_Load" />
      <add service="Data.Store" method="Schema_Init" />
      <add service="Web.Routing" method="RegisterRoutes" />
    </startup>
  </framework.Factory>


</configuration>