<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- Entity Framework Configuration Section: http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- Framework Sections -->
    <section name="framework.Data" type="Framework.Data.Model.Config.LibConfiguration, Framework.Data" requirePermission="false" />
    <section name="framework.Factory" type="Framework.Factory.Model.Config.LibConfiguration, Framework.Factory" requirePermission="false" />
    <section name="framework.Host" type="Framework.Configuration.Config.HostConfiguration, Framework.Configuration" requirePermission="false" />
    <section name="framework.Startup" type="Framework.Configuration.Config.StartupConfiguration, Framework.Configuration" requirePermission="false" />
    <section name="framework.Web" type="Framework.Web.Config.LibConfiguration, Framework.Web" requirePermission="false" />
    <section name="framework.Forms" type="Framework.Forms.Config.LibConfiguration, Framework.Forms" requirePermission="false" />
  </configSections>

  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" requestValidationMode="4.5" />
    <pages>
      <controls>
        <add tagPrefix="framework" assembly="Framework.Web" namespace="Framework.Web.Controls" />
      </controls>
    </pages>
  </system.web>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="UrlRoutingModule" />
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
    <asp scriptErrorSentToBrowser="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>

  <!-- Entity Framework Configuration -->

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <!-- Framework -->

  <framework.Data>
    <clusters>
      <!-- BASE CLUSTER. Used for storing framework information. This cluster is required. -->
      <add name="Boot" description="Base data cluster definition">
        <contexts>
          <add name="Schema">
            <provider type="Framework.Data.EntityFramework: Framework.Data.EntityFramework.Context.BaseDbContextProvider">
              <settings>
                <add name="CONNECTION-STRING" value="Data Source=(LocalDB)\v12.0;AttachDbFilename=|DataDirectory|\KLOWD.mdf;Integrated Security=True" />
                <add name="INITIALIZER" value="CREATE_ALWAYS" />
              </settings>
            </provider>
            <entities>
              <add name="Cluster" />
              <add name="Entity" />
              <add name="Query" />
              <add name="Context" />
              <add name="PartialModel" />
            </entities>
          </add>
        </contexts>
        <entities>
          <add name="Cluster" type="Framework.Data.Model.Relational.FW_DataCluster, Framework.Data" />
          <add name="Entity" type="Framework.Data.Model.Relational.FW_DataEntity, Framework.Data" />
          <add name="Query" type="Framework.Data.Model.Relational.FW_DataQuery, Framework.Data" />
          <add name="Context" type="Framework.Data.Model.Relational.FW_DataContext, Framework.Data" />
          <add name="PartialModel" type="Framework.Data.Model.Relational.FW_DataPartialModel, Framework.Data" />
          <add name="ServiceEntry" type="Framework.Factory.Model.Relational.FW_FactoryServiceEntry, Framework.Factory" />
        </entities>
        <models>
        </models>
      </add>
    </clusters>
  </framework.Data>

  <framework.Factory>
    <hub unique="true" name="Factory.Hub" contract="Framework.Factory.API.IHub" type="Framework.Factory: Framework.Factory.API.SrvHub" />
    <services>
      <add unique="true" name="Factory.Scope" contract="Framework.Factory.API.IScope" type="Framework.Factory: Framework.Factory.API.SrvScope" />
      <add unique="true" name="Factory.Reflected" contract="Framework.Factory.API.IReflected" type="Framework.Factory: Framework.Factory.API.SrvReflected" />
      <add unique="true" name="Factory.ServiceEntry" contract="Framework.Factory.API.IServiceEntry" type="Framework.Data: Framework.Data.API.SrvServiceEntry" />

      <add unique="true" name="Web.Routing" contract="Framework.Web.API.IRouting" type="Framework.Web: Framework.Web.API.SrvRouting" />
      <add unique="true" name="Web.Resolver" contract="Framework.Web.API.IResolver" type="Framework.Web: Framework.Web.API.SrvResolver" />

      <add unique="true" name="Configuration.Host" contract="Framework.Configuration.API.IHost" type="Framework.Configuration: Framework.Configuration.API.SrvHost" />
      <add unique="true" name="Configuration.Startup" contract="Framework.Configuration.API.IStartup" type="Framework.Configuration: Framework.Configuration.API.SrvStartup" />

      <add unique="true" name="Data.DAL" contract="Framework.Data.API.IDAL" type="Framework.Data: Framework.Data.API.SrvDAL" />
      <add unique="true" name="Data.Mem" contract="Framework.Data.API.IMem" type="Framework.Data: Framework.Data.API.SrvMem" />
      <add unique="true" name="Data.Store" contract="Framework.Data.API.IStore" type="Framework.Data: Framework.Data.API.SrvStore" />
      <add unique="true" name="Data.Transform" contract="Framework.Data.API.ITransform" type="Framework.Data: Framework.Data.API.SrvTransform" />
      <add unique="true" name="Data.Config" contract="Framework.Data.API.ICfg" type="Framework.Data: Framework.Data.API.SrvCfg" />

      <add unique="true" name="Data.DynamicStoreDataScope" contract="Framework.Data.API.IDynamicStoreDataScope" type="Framework.Data: Framework.Data.API.SrvDynamicStoreDataScope" />
      <add unique="true" name="Data.LinqQueryProcessor" contract="Framework.Data.API.IQueryProcessor" type="Framework.Data: Framework.Data.API.SrvLinqQueryProcessor" />

      <add unique="true" name="Blocks.Mem" contract="Framework.Blocks.API.IMemStore" type="Framework.Blocks: Framework.Blocks.API.SrvMemStore" />
      <add unique="true" name="Blocks.Store" contract="Framework.Blocks.API.IStore" type="Framework.Blocks: Framework.Blocks.API.SrvStore" />
      <add unique="true" name="Blocks.Eval" contract="Framework.Blocks.API.IEval" type="Framework.Blocks: Framework.Blocks.API.SrvEval" />

      <add unique="true" name="Forms.Mem" contract="Framework.Forms.API.IMem" type="Framework.Forms: Framework.Forms.API.SrvMem" />
      <add unique="true" name="Forms.Store" contract="Framework.Forms.API.IStore" type="Framework.Forms: Framework.Forms.API.SrvStore" />
      <add unique="true" name="Forms.Config" contract="Framework.Forms.API.ICfg" type="Framework.Forms: Framework.Forms.API.SrvCfg" />
    </services>
  </framework.Factory>

  <framework.Host>
    <meta name="Framework Klowd Data" version="1.0" />
  </framework.Host>

  <framework.Startup>
    <sequence>
      <add service="Data.Store" method="Schema_Load" />
      <add service="Data.Store" method="Schema_Init" />
      <add service="Web.Routing" method="RegisterRoutes" />
    </sequence>
  </framework.Startup>

  <framework.Web>
    <routing>
      <pages></pages>
      <http>
        <add template="{controller}/{action}/{id}" />
        <add template="{controller}/{id}" />
      </http>
    </routing>
  </framework.Web>

  <framework.Forms>    
  </framework.Forms>

</configuration>