<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- Entity Framework Configuration Section: http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <!-- Framework Modules -->
    <section name="framework.App" type="Framework.App.Config.Lib, Framework.App" requirePermission="false" />
    <section name="framework.Auth" type="Framework.Auth.Config.Lib, Framework.Auth" requirePermission="false" />
    <section name="framework.Blocks" type="Framework.Blocks.Config.Lib, Framework.Blocks" requirePermission="false" />
    <section name="framework.Charting" type="Framework.Charting.Config.Lib, Framework.Charting" requirePermission="false" />
    <section name="framework.Code" type="Framework.Code.Config.Lib, Framework.Code" requirePermission="false" />
    <section name="framework.Comm" type="Framework.Comm.Config.Lib, Framework.Comm" requirePermission="false" />
    <section name="framework.Compression" type="Framework.Compression.Config.Lib, Framework.Compression" requirePermission="false" />
    <section name="framework.Content" type="Framework.Content.Config.Lib, Framework.Content" requirePermission="false" />
    <section name="framework.Core" type="Framework.Core.Config.Lib, Framework.Core" requirePermission="false" />
    <section name="framework.Cryptography" type="Framework.Cryptography.Config.Lib, Framework.Cryptography" requirePermission="false" />
    <section name="framework.Data" type="Framework.Data.Config.Lib, Framework.Data" requirePermission="false" />
    <section name="framework.Factory" type="Framework.Factory.Config.Lib, Framework.Factory" requirePermission="false" />
    <section name="framework.Forms" type="Framework.Forms.Config.Lib, Framework.Forms" requirePermission="false" />
    <section name="framework.Fragments" type="Framework.Fragments.Config.Lib, Framework.Fragments" requirePermission="false" />
    <section name="framework.Localization" type="Framework.Localization.Config.Lib, Framework.Localization" requirePermission="false" />
    <section name="framework.Logging" type="Framework.Logging.Config.Lib, Framework.Logging" requirePermission="false" />
    <section name="framework.Maps" type="Framework.Maps.Config.Lib, Framework.Maps" requirePermission="false" />
    <section name="framework.Models" type="Framework.Models.Config.Lib, Framework.Models" requirePermission="false" />
    <section name="framework.Packages" type="Framework.Packages.Config.Lib, Framework.Packages" requirePermission="false" />
    <section name="framework.Reporting" type="Framework.Reporting.Config.Lib, Framework.Reporting" requirePermission="false" />
    <section name="framework.Search" type="Framework.Search.Config.Lib, Framework.Search" requirePermission="false" />
    <section name="framework.Server" type="Framework.Server.Config.Lib, Framework.Server" requirePermission="false" />
    <section name="framework.Storage" type="Framework.Storage.Config.Lib, Framework.Storage" requirePermission="false" />
    <section name="framework.Templates" type="Framework.Templates.Config.Lib, Framework.Templates" requirePermission="false" />
    <section name="framework.Text" type="Framework.Text.Config.Lib, Framework.Text" requirePermission="false" />
    <section name="framework.Ticker" type="Framework.Ticker.Config.Lib, Framework.Ticker" requirePermission="false" />
    <section name="framework.Time" type="Framework.Time.Config.Lib, Framework.Time" requirePermission="false" />
    <section name="framework.Types" type="Framework.Types.Config.Lib, Framework.Types" requirePermission="false" />
    <section name="framework.Users" type="Framework.Users.Config.Lib, Framework.Users" requirePermission="false" />
    <section name="framework.Utils" type="Framework.Utils.Config.Lib, Framework.Utils" requirePermission="false" />
    <section name="framework.Watcher" type="Framework.Watcher.Config.Lib, Framework.Watcher" requirePermission="false" />
    <section name="framework.Web" type="Framework.Web.Config.Lib, Framework.Web" requirePermission="false" />
    <section name="framework.WebAPI" type="Framework.WebAPI.Config.Lib, Framework.WebAPI" requirePermission="false" />
  </configSections>

  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" requestValidationMode="4.5" />
    <pages>
      <controls>
        <add tagPrefix="fw" assembly="Framework.Web" namespace="Framework.Web.Controls" />
      </controls>
    </pages>
  </system.web>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="UrlRoutingModule" />
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
    <asp scriptErrorSentToBrowser="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      
      <!-- Framework Page Dependency Injector. -->
      <add name="IoCPageHandlerFactory" verb="*" path="*.aspx" type="Framework.App.Runtime.IoCPageHandlerFactory, Framework.App"/>
    </handlers>

  </system.webServer>

  <!-- Entity Framework Configuration -->

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <!-- Framework Modules -->

  <framework.Auth></framework.Auth>

  <framework.Blocks></framework.Blocks>

  <framework.Charting></framework.Charting>

  <framework.Code></framework.Code>

  <framework.Comm></framework.Comm>

  <framework.Compression></framework.Compression>

  <framework.Content></framework.Content>

  <framework.Core></framework.Core>

  <framework.Cryptography></framework.Cryptography>

  <framework.Data></framework.Data>

  <framework.Forms></framework.Forms>

  <framework.Fragments></framework.Fragments>

  <framework.Localization></framework.Localization>

  <framework.Logging></framework.Logging>

  <framework.Maps></framework.Maps>

  <framework.Models></framework.Models>

  <framework.Packages></framework.Packages>

  <framework.Reporting></framework.Reporting>

  <framework.Search></framework.Search>

  <framework.Server></framework.Server>

  <framework.Storage></framework.Storage>

  <framework.Templates></framework.Templates>

  <framework.Text></framework.Text>

  <framework.Ticker></framework.Ticker>

  <framework.Time></framework.Time>

  <framework.Types></framework.Types>

  <framework.Users></framework.Users>

  <framework.Utils></framework.Utils>

  <framework.Watcher></framework.Watcher>

  <framework.Web>
    <routing>
      <pages></pages>
      <http>
        <add template="{controller}/{action}/{id}" />
        <add template="{controller}/{id}" />
      </http>
    </routing>
    <services>
      <add unique="true" name="Web.Routing" contract="Framework.Web.Api.IRouting" type="Framework.Web: Framework.Web.Services.SrvRouting" />
      <add unique="true" name="Web.Resolver" contract="Framework.Web.Api.IResolver" type="Framework.Web: Framework.Web.Services.SrvResolver" />
    </services>
  </framework.Web>

  <framework.WebAPI></framework.WebAPI>

  <framework.App>
    <hub unique="true" name="Factory.Container" contract="Framework.Core.Api.IContainer" type="Framework.App: Framework.App.Services.SrvHub" />
    <services>
      <add unique="true" name="Factory.Scope" contract="Framework.Core.Api.IScope" type="Framework.App: Framework.App.Services.SrvScope" />
      <add unique="true" name="Factory.Reflected" contract="Framework.Utils.Api.IReflected" type="Framework.Utils: Framework.Utils.Services.SrvReflected" />
      <add unique="true" name="Factory.Host" contract="Framework.Core.Api.IHost" type="Framework.App: Framework.App.Services.SrvHost" />
      <add unique="true" name="Factory.Modules" contract="Framework.App.Api.IModuleEntry" type="Framework.App: Framework.App.Services.SrvModuleEntry" />
    </services>
    <modules>
      <add name="Framework.App" type="Framework.App: Framework.App.Config.Module" />
      <add name="Framework.Auth" type="Framework.Auth: Framework.Auth.Config.Module" />
      <add name="Framework.Blocks" type="Framework.Blocks: Framework.Blocks.Config.Module" />
      <add name="Framework.Charting" type="Framework.Charting: Framework.Charting.Config.Module" />
      <add name="Framework.Code" type="Framework.Code: Framework.Code.Config.Module" />
      <add name="Framework.Comm" type="Framework.Comm: Framework.Comm.Config.Module" />
      <add name="Framework.Compression" type="Framework.Compression: Framework.Compression.Config.Module" />
      <add name="Framework.Content" type="Framework.Content: Framework.Content.Config.Module" />
      <add name="Framework.Core" type="Framework.Core: Framework.Core.Config.Module" />
      <add name="Framework.Cryptography" type="Framework.Cryptography: Framework.Cryptography.Config.Module" />
      <add name="Framework.Data" type="Framework.Data: Framework.Data.Config.Module" />
      <add name="Framework.Forms" type="Framework.Forms: Framework.Forms.Config.Module" />
      <add name="Framework.Fragments" type="Framework.Fragments: Framework.Fragments.Config.Module" />
      <add name="Framework.Localization" type="Framework.Localization: Framework.Localization.Config.Module" />
      <add name="Framework.Logging" type="Framework.Logging: Framework.Logging.Config.Module" />
      <add name="Framework.Maps" type="Framework.Maps: Framework.Maps.Config.Module" />
      <add name="Framework.Models" type="Framework.Models: Framework.Models.Config.Module" />
      <add name="Framework.Packages" type="Framework.Packages: Framework.Packages.Config.Module" />
      <add name="Framework.Reporting" type=" Framework.Reporting: Framework.Reporting.Config.Module" />
      <add name="Framework.Search" type="Framework.Search: Framework.Search.Config.Module" />
      <add name="Framework.Server" type="Framework.Server: Framework.Server.Config.Module" />
      <add name="Framework.Storage" type="Framework.Storage: Framework.Storage.Config.Module" />
      <add name="Framework.Templates" type="Framework.Templates: Framework.Templates.Config.Module" />
      <add name="Framework.Text" type="Framework.Text: Framework.Text.Config.Module" />
      <add name="Framework.Ticker" type="Framework.Ticker: Framework.Ticker.Config.Module" />
      <add name="Framework.Time" type="Framework.Time: Framework.Time.Config.Module" />
      <add name="Framework.Types" type="Framework.Types: Framework.Types.Config.Module" />
      <add name="Framework.Users" type="Framework.Users: Framework.Users.Config.Module" />
      <add name="Framework.Utils" type="Framework.Utils: Framework.Utils.Config.Module" />
      <add name="Framework.Watcher" type="Framework.Watcher: Framework.Watcher.Config.Module" />
      <add name="Framework.Web" type="Framework.Web: Framework.Web.Config.Module" />
      <add name="Framework.WebAPI" type="Framework.WebAPI: Framework.WebAPI.Config.Module" />
    </modules>
    <boot>
      <add service="Web.Routing" method="RegisterRoutes" />
    </boot>
  </framework.App>


</configuration>