<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <!-- Entity Framework Configuration Section http://go.microsoft.com/fwlink/?LinkID=237468 -->

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <!-- Framework Data Store Configuration Section -->

    <section name="frameworkDataStore" type="Framework.Data.Config.ManagerConfiguration, Framework.Data" requirePermission="false" />

    <!-- Framework Factory Configuration Section -->

    <section name="frameworkFactory" type="Framework.Factory.Config.ManagerConfiguration, Framework.Factory" requirePermission="false" />

  </configSections>

  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" requestValidationMode="4.5" />
    <pages>
      <controls>
        <add tagPrefix="framework" assembly="Framework.Web" namespace="Framework.Web.Controls" />
      </controls>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="DataConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\TOOLKIT-APP.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!-- Entity Framework Configuration -->

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <!-- Framework Data Store Configuration -->

  <frameworkDataStore>
    <clusters>

      <!-- BASE CLUSTER. Used for storing framework information. This cluster is required. -->
      <add name="__BOOT__" description="Base data cluster definition">
        <context name="__BASE_CONTEXT__" type="" />
        <entities>
          <add name="_dataCluster" description="Data cluster definition" type="Framework.Data.Model.DataCluster" />
          <add name="_dataEntity" description="Data entity definition" type="Framework.Data.Model.DataEntity" />
          <add name="_dataContext" description="Data context definition" type="Framework.Data.Model.DataContext" />
          <add name="_dataPartialModel" description="Data partial model definition" type="Framework.Data.Model.DataPartialModel" />
        </entities>
        <models>
        </models>
      </add>

    </clusters>
  </frameworkDataStore>

  <!-- Framework Factory Configuration -->

  <frameworkFactory>

    <!-- Hub service, service that instantiates all others -->
    <hub unique="true" 
         name="__HUB" 
         contract="Framework.Factory.API.Interface.IHub" 
         type="Framework.Factory: Framework.Factory.API.Default.SrvHub" />

    <!-- Core Services, loaded only into memory-->
    <services>
      
      <!-- Scope service implementation. -->
      <add unique="true" 
           name="__SCOPE" 
           contract="Framework.Factory.API.Interface.IScope" 
           type="Framework.Factory: Framework.Factory.API.Default.SrvScope" />

      <!-- Data store service -->
      <add unique="true" 
           name="__DATA__STORE" 
           contract="Framework.Data.API.Interface.IStore" 
           type="Framework.Data: Framework.Data.API.Default.SrvStore" />

    </services>

  </frameworkFactory>

  <!-- -->

  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>