<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <!-- Entity Framework Configuration Section http://go.microsoft.com/fwlink/?LinkID=237468 -->

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <!-- Framework Sections -->

    <section name="frameworkDataStore" type="Framework.Data.Config.ManagerConfiguration, Framework.Data" requirePermission="false" />
    <section name="frameworkFactory" type="Framework.Factory.Config.ManagerConfiguration, Framework.Factory" requirePermission="false" />
    <section name="frameworkHost" type="Framework.Configuration.Config.HostConfiguration, Framework.Configuration" requirePermission="false" />
    <section name="frameworkStartup" type="Framework.Configuration.Config.StartupConfiguration, Framework.Configuration" requirePermission="false" />
    <section name="frameworkWeb" type="Framework.Web.Config.WebConfiguration, Framework.Web" requirePermission="false" />

  </configSections>

  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" requestValidationMode="4.5" />
    <pages>
      <controls>
        <add tagPrefix="framework" assembly="Framework.Web" namespace="Framework.Web.Controls" />
      </controls>
    </pages>
  </system.web>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>

  <!-- Entity Framework Configuration -->

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <!-- Framework -->

  <frameworkDataStore>
    <clusters>
      <!-- BASE CLUSTER. Used for storing framework information. This cluster is required. -->
      <add name="__BOOT__" description="Base data cluster definition">
        <context name="__BASE_CONTEXT__" service="__EF__DATA__CONTEXT__PROVIDER" />
        <entities>
          <add name="_dataCluster" type="Framework.Data.Model.DataCluster, Framework.Data" />
          <add name="_dataEntity" type="Framework.Data.Model.DataEntity, Framework.Data" />
          <add name="_dataQuery" type="Framework.Data.Model.DataQuery, Framework.Data" />
          <add name="_dataContext" type="Framework.Data.Model.DataContext, Framework.Data" />
          <add name="_dataPartialModel" type="Framework.Data.Model.DataPartialModel, Framework.Data" />
        </entities>
        <models>
        </models>
      </add>
    </clusters>
  </frameworkDataStore>

  <frameworkFactory>
    <hub unique="true" name="__HUB" contract="Framework.Factory.API.Interface.IHub" type="Framework.Factory: Framework.Factory.API.Default.SrvHub" />
    <services>
      <add unique="true" name="__SCOPE" contract="Framework.Factory.API.Interface.IScope" type="Framework.Factory: Framework.Factory.API.Default.SrvScope" />
      <add unique="true" name="__REFLECTED" contract="Framework.Factory.API.Interface.IReflected" type="Framework.Factory: Framework.Factory.API.Default.SrvReflected" />
      <add unique="true" name="__ROUTING" contract="Framework.Web.API.Interface.IRouting" type="Framework.Web: Framework.Web.API.Default.SrvRouting" />
      <add unique="true" name="__HOST" contract="Framework.Configuration.API.Interface.IHost" type="Framework.Configuration: Framework.Configuration.API.Default.SrvHost" />
      <add unique="true" name="__STARTUP" contract="Framework.Configuration.API.Interface.IStartup" type="Framework.Configuration: Framework.Configuration.API.Default.SrvStartup" />
      <add unique="true" name="__STORE" contract="Framework.Data.API.Interface.IStore" type="Framework.Data: Framework.Data.API.Default.SrvStore" />
      <!-- -->
      <add name="__EF__DATA__CONTEXT__PROVIDER" contract="Framework.Data.Patterns.IProviderDataContext" type="Framework.Data.EntityFramework: Framework.Data.EntityFramework.Context.EFBaseDataContextProvider">
        <settings>
          <add name="CONNECTION-STRING" value="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\SINGLE-WEB-APP.mdf;Integrated Security=True" />
          <add name="INITIALIZER" value="CREATE_ALWAYS" />
        </settings>
      </add>
    </services>
  </frameworkFactory>

  <frameworkHost>
    <meta name="SingleWebApp" version="1.0" />
  </frameworkHost>

  <frameworkStartup>
    <sequence>
      <add service="__STORE" method="InitClusters" />
      <add service="__ROUTING" method="RegisterRoutes" />
    </sequence>
  </frameworkStartup>

  <frameworkWeb>
    <routing>
      <pages></pages>
      <http>
        <add template="{controller}/{action}/{id}" />
        <add template="{controller}/{id}" />
      </http>
    </routing>
  </frameworkWeb>

</configuration>