<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <!-- Entity Framework -->

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <!-- Framework Sections -->

    <section name="frameworkDataStore" type="Framework.Data.Model.Config.ManagerConfiguration, Framework.Data" requirePermission="false" />
    <section name="frameworkFactory" type="Framework.Factory.Model.Config.ManagerConfiguration, Framework.Factory" requirePermission="false" />
    <section name="frameworkHost" type="Framework.Configuration.Config.HostConfiguration, Framework.Configuration" requirePermission="false" />
    <section name="frameworkStartup" type="Framework.Configuration.Config.StartupConfiguration, Framework.Configuration" requirePermission="false" />
    <section name="frameworkWeb" type="Framework.Web.Config.WebConfiguration, Framework.Web" requirePermission="false" />

  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <expressionBuilders>
        <add expressionPrefix="Code" type="Framework.Apps.Web.Framework.Utils.CodeExpressionBuilder, Framework.Apps.Web.Framework" />
      </expressionBuilders>
    </compilation>
    <httpRuntime targetFramework="4.5.2" requestValidationMode="4.5" />
    <pages>
      <controls>
        <add tagPrefix="framework" assembly="Framework.Web" namespace="Framework.Web.Controls" />
      </controls>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="DataConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\TOOLKIT-APP.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <!-- Framework -->

  <frameworkDataStore>
    <clusters>
      <!-- BASE CLUSTER. Used for storing framework information. This cluster is required. -->
      <add name="__BOOT__" description="Base data cluster definition">
        <context name="__BASE_CONTEXT__" service="__EF__DATA__CONTEXT__PROVIDER" />
        <entities>
          <add name="_dataCluster" description="Data cluster definition" type="Framework.Data.Model.DataCluster, Framework.Data" />
          <add name="_dataEntity" description="Data entity definition" type="Framework.Data.Model.DataEntity, Framework.Data" />
          <add name="_dataContext" description="Data context definition" type="Framework.Data.Model.DataContext, Framework.Data" />
          <add name="_dataPartialModel" description="Data partial model definition" type="Framework.Data.Model.DataPartialModel, Framework.Data" />
        </entities>
        <models>
        </models>
      </add>
    </clusters>
  </frameworkDataStore>

  <frameworkFactory>

    <!-- Hub service, service that instantiates all others -->
    <hub unique="true" name="__HUB" contract="Framework.Factory.API.IHub" type="Framework.Factory: Framework.Factory.API.SrvHub" />

    <!-- Core Services, loaded only into memory-->
    <services>

      <add unique="true" name="__SCOPE" contract="Framework.Factory.API.IScope" type="Framework.Factory: Framework.Factory.API.SrvScope" />

      <add unique="true" name="__REFLECTED" contract="Framework.Factory.API.IReflected" type="Framework.Factory: Framework.Factory.API.SrvReflected" />

      <add unique="true" name="__ROUTING" contract="Framework.Web.API.IRouting" type="Framework.Web: Framework.Web.API.SrvRouting" />

      <add unique="true" name="__HOST" contract="Framework.Configuration.API.IHost" type="Framework.Configuration: Framework.Configuration.API.SrvHost" />

      <add unique="true" name="__STARTUP" contract="Framework.Configuration.API.IStartup" type="Framework.Configuration: Framework.Configuration.API.SrvStartup" />

      <add unique="true" name="__STORE" contract="Framework.Data.API.IStore" type="Framework.Data: Framework.Data.API.SrvStore" />

      <add name="__EF__DATA__CONTEXT__PROVIDER" contract="Framework.Data.Patterns.IProviderDataContext" type="Framework.Data.EntityFramework: Framework.Data.EntityFramework.Context.EFBaseDataContextProvider">
        <settings>
          <add name="CONNECTION-STRING" value="DataConnectionString" />
          <add name="INITIALIZER" value="CREATE_ALWAYS" />
        </settings>
      </add>

    </services>

  </frameworkFactory>

  <frameworkHost>
    <meta name="SingleWebApp" version="1.0" />
  </frameworkHost>

  <frameworkStartup>
    <sequence>
      <add service="__STORE" method="InitClusters" />
      <add service="__ROUTING" method="RegisterRoutes" />
    </sequence>
  </frameworkStartup>

  <frameworkWeb>
    <routing>
      <pages>
        <add friendly="index" location="~/index.aspx" />
      </pages>
      <http>
        <add template="{controller}/{action}/{id}" />
        <add template="{controller}/{id}" />
      </http>
    </routing>
  </frameworkWeb>

  <!-- -->

  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>